{% extends 'board/board.html' %}
{% load static %}

{% block adcontent %}
<!-- Post content-->
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">{{ flatpage.title }}</h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Сегодня {% now "j F Y" %}</div>
    </header>
    <!-- Preview image figure-->
    <figure class="mb-4"><img class="img-fluid rounded" src="https://kem.ttk.ru/upload/iblock/76b/76b020649075393a74c189a8f1d2f388.jpg" alt="..." /></figure>
    <!-- Post content-->
    <section class="mb-5">
        <p class="fs-5 mb-4">{{ flatpage.content }}</p>
    </section>
</article>
{% endblock adcontent %}

{% block comments %}
{% endblock comments %}

{% block sidewidgets %}
{% endblock sidewidgets %}
