{% extends 'board/board.html' %}

{% block adcontent %}
<!-- Post content-->
<article>
    <!-- Ad header-->
    <header class="mb-4">
        <!-- Ad title-->
        <h1 class="fw-bolder mb-1">{{ text_title }}</h1>
        <!-- Ad meta content-->
        <div class="text-muted fst-italic mb-2">{{ date_time }}</div>
    </header>
    <!-- Ad content-->
    <section class="mb-5">
        <p class="fs-5 mb-4">{{ text_body }}</p>
    </section>
    <section class="mb-5">
        <p class="fs-5 mb-4">Пользователю отправлено уведомление.</p>
        <p class="fs-5 mb-4">Для повторной отправки уведомления повторите действие "Принять".</p>
        <p class="fs-5 mb-4">Указанные контакты для связи:</p>
        <p class="fs-5 mb-4">{{ text_contacts }}</p>
    </section>
</article>
{% endblock adcontent %}

{% block comments %}
{% endblock comments %}

{% block sidewidgets %}
{% endblock sidewidgets %}
